<div class="banner" style="height: 400px;">
      <h1>SuperClout</h1>
      <p>$99 per advert</p>
</div>


<div class="container">
  <h3>All Listings</h3>
  <%= render "shared/search-bar" %>
  <div class="row listing-brands-container">
    <% @listings.each do |listing| %>
      <div class="col-md-4 mb-3">
        <%= link_to listing_path(listing) do %>
        <% if listing.photo.attached? %>
          <div class="card-category" data-listing-id="<%= listing.id %>" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path listing.photo.key, angle: 0 %>)"><%= listing.product %>
          <div class="card-description">
            <p>❤️</p>
          </div>
          </div>
            <% else %>
              <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1568688570940-831467d18af7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80)">
                <%= listing.product %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <%= render "shared/brand-cards" %>
      </div>


</div>




