<div class="listing-container">
<div class="content">
  <div class="photo">
    <%= cl_image_tag @listing.photo.key if @listing.photo.attached? %>
  </div>
  <h2><%= @listing.product %></h4>
  <h6><%= @listing.city %></h6>
  <p><%= @listing.description %></p>
  </div>
          <%= form_for [@listing, @campaign] do |f| %>
          <%= f.hidden_field :listing_id, value: @listing.id %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.submit "❤️" %>
          <% end %>
</div>

