<div class="banner" style="height: 400px;">

</div>

  <div class="row">
    <div class="col-md-6 mx-auto">
      <h1>Add your brand</h1>
      <%= simple_form_for @brand do |f| %>
      <%= f.input :name %>
      <%= f.input :photo, as: :file, input_html: { required: true } %>
      <%= f.submit "Add brand", class: "btn btn-ghost" %>

      <% end %>
  </div>
</div>

<%= link_to "Back to all brands", root_path %>
